{% extends "myapp/base.html" %}

{% block content %}		
        <h4> 
        		{% comment %} <a href="/myapp/items/{{item.id}}/"> {% endcomment %}
        		{% for item in items %}
        		{% comment %} creates links for every product detail page by it's id {% endcomment %}
        		<a href="{% url 'myapp:detail' item.id %}"> 

       			ID: {{item.id}} | Name: {{item.name}} | Price: {{item.price}} | Description: {{item.description}} <br/>
       	 		<a>
         		{% endfor %}
        </h4>
				{% endblock content %}